body {
    background-color: #7eb078;
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #4e6751;
    width: 100%;
    padding: 0;
    margin: 0;
}

ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #4e6751;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

ul.tabs li {
    flex: 1;
    margin: 0;
}

ul.tabs li a {
    display: block;
    padding: 14px 0;
    color: white;
    text-decoration: none;
    background-color: #132a16;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 18px;
}

#home.flex {
    display: flex;
}

.home-content {
    margin-top: 70px;
    flex: 0 0 50%; 
    max-width: 50%; 
    box-sizing: border-box; 
    padding-right: 20px; 
}
.headshot {
    margin-top: 80px;
    flex: 1; 
    max-width: 50%; 
    box-sizing: border-box; 
    justify-content: center; 
    margin-left: 150px;
}







#contact {
    font-size: 32pt;
    text-align: center;
    margin-top: 30pt;
}
#contact h1 {
    text-align: center;
    font-size: 56pt;
}

.resume {
    margin-top: 20px;
    justify-content: center;
}

ul.tabs li a:hover {
    background-color: #5c7639;
}

ul.tabs li a.active {
    background-color: #0a0f0a;
}

.content {
    padding: 20px;
}

.text-content {
    display: none; /* Hide all sections in itially */
}

.text-content.hidden {
    display: none;
}

.text-content.active {
    display: block;
}
